body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #094617;
  overflow: hidden;
}

#text {
  text-align: center;
  margin-bottom: 20px;
  color: #ca4545;
}

#color-selection {
  margin-bottom: 20px;
  color: #ca4545;
}

#bingo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 600px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  word-wrap: break-word;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #922b24; /* Default background */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  min-height: 100px;
}

.tile:hover {
  background-color: #ca4545;
}

/* When marked green */
.green {
  background-color: #329132;
  color: #fff;
}

/* When marked blue */
.blue {
  background-color: #0066cc;
  color: #fff;
}

/* When both green and blue (half-half) */
.half-half {
  background: linear-gradient(to right, #329132 50%, #0066cc 50%);
  color: #fff;
}
